.logsign
{
	font-size: 15px;
}
#menu ul
{
	/* 取消ul樣式符號 */
	list-style-type:none;
	/* 重設ul邊界與留白為零 */

	/* 內有浮動元件時，需設overflow才會自動調整大小 */
	overflow:auto;
}
#menu ul li
{
	/* 利用float讓第一層li水平排列 */
	float:left;
}
#menu ul li a
{
	/* 將a改為區塊元件，以便指定寬高 */
	display:block;
	/* 這邊也要設float，否則IE6會以100%寬度顯示 */
	float:left;
	/* 固定高度 */
	height:30px;
	width: 100px;
	text-align: center;
	position: relative;
	right: 10px;
}
#menu ul li ul
{
	/* 讓第二層ul跳脫文件流以利定位 */
	position:absolute;
	/* 固定寬度 */
	width:100px;
	/* 避免出現捲軸 */
	overflow:visible;
	/* 讓ul與母階層li相同位置 */
	clear:left;
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#menu ul li ul li
{
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	text-align: center;
	padding: 5px 0 5px 0;
	position: relative;
	right: 10px;
}
#menu ul li ul li a
{
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	width: 100%;/* 註：display、height、padding繼承第一層的設定 */
}
#menu ul li ul li ul
{
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	width: 100%;
}
/* ---------- 隱藏與顯示階層 ---------- */
#menu ul li ul
{
	/* 預先隱藏第二層 */
	visibility:hidden;
	width: 150px;
}
#menu ul li:hover ul
{
	/* 觸動第一層時，顯示第二層 */
	visibility:visible;
}
/* ---------- 以下為美化用，非必需 ---------- */
/* 第一層a字型 */
#menu ul li a
{
	color:black;
	text-decoration:none;
	line-height: 30px;
}
/*第二層ul背景色彩與邊框  */
#menu ul li ul
{
	background:rgba(236, 215, 198,.8);
	padding-bottom: 0.5cm;
}
/* 第二層a字型 */
#menu ul li ul li a
{
	font-size:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	color:#333333;
	text-decoration:none;
}
#menu ul li ul li:hover, #menu ul li ul li a:hover
{
	color: white;
}
#menu ul li a:hover 
{
	color:white;
}
.down
{
	color: black;
}