
body {
    background-color: ;
    font-family: "微軟正黑體";
    color: #333;
}
.wrapper {
    width: 705px;
    margin: 20px auto;
    padding: 20px;
}

.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}
.wrapper span {
    float: right;
}
.clear {
    clear: both;
}

.wrapper h1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
}

.items {
    
    margin: 40px 0;
}
.item {
    text-align: center;
    padding: 10px 50px;
    margin:;
    
    height: ;
    
}
.item img {
    display: inline-block;
    margin: auto;
    vertical-align:middle;
    border: 1px solid #CD948A;
    margin: 15px 25px 50px;
    padding: 60px;
}
.information{
    padding-right: 40px;

}
.wrapper h2 {
    font-size: 26px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.wrapper button {
    border: 1px solid #722A1B;
    padding: 4px 14px;
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}
.box{
    height: 100px;
    clear: both;
}
.like{
    position: relative;
    width: 200px;
    height: 50px;
    background: url("../images/good_gray.png") repeat-x;
    background-size: 40px 40px;
    overflow: hidden;
    margin-top: 5px;
}
.star,.score{
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
}..
.star{
    z-index: 2;
}
.score{
    opacity: 0;
}
.star_1, .score_1 {
    left: 0;
}
.star_2, .score_2 {
    left: 40px;
}
.star_3, .score_3 {
    left: 80px;
}
.star_4, .score_4 {
    left: 120px;
}
.star_5, .score_5 {
    left: 160px;
}
.star:hover {
    cursor: pointer;
    background: url("../images/good_white.png") repeat-x;
    background-size: 40px 40px;
    left: 0;
    z-index: 1;
}
.star_1:hover {
    width: 40px;
}
.star_2:hover {
    width: 80px;
}
.star_3:hover {
    width: 120px;
}
.star_4:hover {
    width: 160px;
}
.star_5:hover {
    width: 200px;
}
.score:checked + .star {
    background: url("../images/good_white.png") repeat-x;
    background-size: 40px 40px;
    left: 0;
}
.score_1:checked + .star_1 {
    width: 40px;
}
.score_2:checked + .star_2 {
    width: 80px;
}
.score_3:checked + .star_3 {
    width: 120px;
}
.score_4:checked + .star_4 {
    width: 160px;
}
.score_5:checked + .star_5 {
    width: 200px;
}

.comment h1{
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
}

.comment-msg
{
    display: inline-block;
    background-color: #CD948A;
    text-align: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.msgbox
{
    display: inline-block;
    width: 50%;
    height: 200px;
    margin-top: 30px;

}
.msgword{
    color: white;
    font-size: 24px;
    text-align: center;
}
.IDinput{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    background: white;
}

.Textinput
{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}
.submit
{
    width: 20%;
    height: 30px;
    background-color: white;
    color: palevioletred;
    border: 1px solid #CD948A;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
}
.message
{
    display: inline-block;
    width: 100%;
    background-color: rgb(245,245,245);
    height: 200px;
    margin-top: 30px;
    

}
.icon
{
    /*display: inline-block;*/
    width: 120px;
    border-radius: 50%;
    height: 120px;
    background-color: #75D1C4;
    margin-left: 50px;
    margin-top: 35px;
    overflow: hidden;
    position: absolute;
    
}
.data{
    padding-left: 50px;
    padding-top: 10px;
}
.namea
{
    display: inline-block;
    width: 75%;
    font-size:18px;
    text-align: left;
    
    margin-left: 150px;
    margin-top: 30px;
}
.love
{
    display: inline-block;
    width: 75%;
    font-size:25px;
    text-align: left;
    letter-spacing: 3px;
    margin-left: 150px;
    margin-top: 10px;
}
.word
{
    display: inline-block;
    width: 75%;
    font-size:18px;
    text-align: left;
    
    margin-left: 150px;
    margin-top: 10px;
}